body {
  background-image: url("images/background.jpg");
  background-size: cover;
  display: flex;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.logo {
  padding-bottom: 44px;
}

.nav {
  height: 112px;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

.tabs {
  overflow: hidden;
}

.examples {
  padding-left: 55px;
}

img {
  border: lightgray 3px groove;
}

.easter {
  opacity: 0;
}

.easter:hover {
  opacity: 1;
}

.easter-margin {
  margin: 0px 70px;
}