<head>
  <title>Final Project</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<body>

  {{> header}}

  <main class="container">
    {{> cardHeader}} {{> intro}} {{> reason1}} {{> reason2}} {{> reason3}}
  </main>

  {{> footer}}
</body>