<template name="header">
  <header>
    <nav role="navigation" class="purple lighten-1 nav">
      <div class="nav-wrapper container">
        <div class="row logo">
          <a href="/" id="logo-container" class="brand-logo center">Persuade</a>
        </div>
        <div class="row">
          <ul class="tabs">
            <li class="tab col s3"><a href="#intro">Introduction</a></li>
            <li class="tab col s3"><a href="#reason1">Reason 1</a></li>
            <li class="tab col s3"><a href="#reason2">Reason 2</a></li>
            <li class="tab col s3"><a href="#reason3">Reason 3</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<template name="footer">
  <footer class="page-footer purple lighten-1">
    <div class="footer-copyright">
      <div class="container">
        <span>@ 2016 Ludvig and Nathanael</span>
        <a class="white-text right" href="#top">Back to the top &raquo;</a>
      </div>
    </div>
  </footer>
</template>

<template name="cardHeader">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel purple lighten-3">
        <h3>Video games are not as bad<br>
            as you might think!</h3>
      </div>
    </div>
  </div>
</template>

<template name="intro">
  <div id="intro">
    <div class="row">
      <p>Most parents see video games as a distraction, unnecessary, a waste of time, and are supposed sources of violence. Some of these things may be true to an extent, but it is all over exaggerated. There are actually many benefits when it comes to video games and they might potentially help you under certain situations. The reasons on why video games are beneficial are...</p>
      <img class="easter" width="250" src="images/Easter.gif">
      <img class="easter easter-margin" width="250" src="images/Easter2.jpg">
      <img class="easter" width="250" src="images/Easter3.jpg">
    </div>
  </div>
</template>

<template name="reason1">
  <div id="reason1" class="row">
    <div class="col s8">
      <h5>Reason 1: Video games are actually very social.</h5>
      <p>Many people think that video games cause people to become antisocial, but it actually has the exact opposite effect. They cause people to interact with other players, especially in games where teamwork is needed. These types of games cause new relationships to form, whether it is a friendship or a rivalry.</p>
      <p>You can even meet the people behind the screen at many different events and places to try and get to know them. Some examples of these places are...</p>
      <ul class="examples">
        <li>Conventions (Example: E3)</li>
        <li>Meetups</li>
        <li>Competitions</li>
        <li>And more events!</li>
      </ul>
    </div>
    <div class="col s4">
      <img class="materialboxed" width="250" src="images/E3.jpg">
      <br>
      <img class="materialboxed" width="250" src="images/Local_Competition.jpg">
    </div>
  </div>
</template>

<template name="reason2">
  <div id="reason2" class="row">
    <div class="col s8">
      <h5>Reason 2: Video games improve hand-eye coordination and reaction time.</h5>
      <p>Many parents believe that video games make people more sluggish and has no beneficial effect on their coordination. In fact, a recent study proves that video games can help your hand-eye coordination by saying that surgeons that play video games have a lot lower chance of making a mistake while performing a procedure.</p>
      <p>Reaction time and hand-eye coordination are improved by video games with the folllowing in-game events.</p>
      <ul class="examples">
        <li>Quick Time Events</li>
        <li>Focusing on multiple objectives at once (Multitasking)</li>
        <li>And Specialized / Custom tasks</li>
      </ul>
      <p>There is even a site where you can test your reaction time called the <a href="http://www.humanbenchmark.com/">Human Benchmark</a>. If you would like to test your reaction time and memory, click on the link above.</p>
    </div>
    <div class="col s4">
      <img class="materialboxed" width="250" src="images/reaction.png">
      <br>
      <img class="materialboxed" width="250" src="images/hand_eye.jpg">
    </div>
  </div>
</template>

<template name="reason3">
  <div id="reason3" class="row">
    <div class="col s8">
      <h5>Reason 3: Video games are considered "entertainment" and not "a waste of time".</h5>
      <p>You always hear people saying that video games are a waste of time and money, but you never hear them say that for other forms of entertainment, such as movies, going out with friends, or simply just staying home to watch TV. When movies and TV were first invented and announced, people most likely would have thought that those were a waste of time and money as well, but now they are considered popular forms of entertainment. So, why can't video games be also considered entertainment then?</p>
    </div>
    <div class="col s4">
      <img class="materialboxed" width="250" src="images/Entertainment.jpg">
      <br>
      <img class="materialboxed" width="250" src="images/Concert.jpg">
    </div>
  </div>
</template>